
{% extends '_base.html' %}

{% block content %}
<body class="bg-light">
<div class="page-wrapper">
    
	<!-- Preloader -->
	<div id="preloader" style="display: none;">
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
    <!-- Preloader end-->
	
	<!-- Header -->
		<header class="header header-fixed border-bottom">
			<div class="header-content">
				<div class="left-content">
					<div class="dz-head-items">
						<h5 class="title mb-0">Pesanan saya</h5>
						<ul class="dz-meta">
							<li class="dz-item"><b>8</b> items</li>
							<li class="dz-item">Deliver to: <b>London</b></li>
						</ul> 
					</div>
				</div>
				<div class="mid-content"></div>
				<div class="right-content">
					<a href="https://ombe.dexignzone.com/bootstrap/xhtml/add-delivery-address.html" class="icon btn btn-outline-primary btn-sm gap-1 p-2 rounded-xl">
						<i class="icon feather icon-map-pin"></i>
						<span>Change</span>
					</a>
				</div>
			</div>
		</header>
	<!-- Header -->
	
	<!-- Main Content Start -->
	<main class="page-content space-top p-b40">
		<div class="container pt-0">
			<div class="dz-total-area bg-white">
				<ul class="total-prize">
					<li class="name">Bayar</li>
					<li class="prize">Rp {{ bayar }}</li>
				</ul>
				<div class="dz-text"><i class="feather icon-check"></i>Pesanan anda sedang diproses</div>
			</div>
			<div class="dz-flex-box p-b100">
				{% for isi in data %}
				{% for isi2 in data[isi]['menu'] %}
				<div class="dz-cart-list">
					<div class="dz-media">
						<img src="{{url_for('static', filename='/product1.jpg')}}" alt="">
					</div>
					<div class="dz-content">
						<h6 class="title"><a href="">{{ data[isi]['menu'][isi2]['nama'] }}</a></h6>
						<ul class="dz-meta">
							<li class="dz-price">Rp {{ data[isi]['menu'][isi2]['harga'] }} x {{ data[isi]['menu'][isi2]['jumlah'] }} = {{ data[isi]['menu'][isi2]['total'] }}</li>
							<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
						</ul>
						<div class=" d-flex align-items-center">
							
						</div>
					</div>
				</div>
				{% endfor %}
				{% endfor %}
				<!--
				<div class="dz-cart-list">
					<div class="dz-media">
						<img src="{{url_for('static', filename='/product2.jpg')}}" alt="">
					</div>
					<div class="dz-content">
						<h6 class="title"><a href="https://ombe.dexignzone.com/bootstrap/xhtml/product-detail.html">Creamy Mocha Ome Coffee </a></h6>
						<ul class="dz-meta">
							<li class="dz-price">$6.3<del>$8.5</del></li>
							<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
						</ul>
					</div>
				</div>
				<div class="dz-cart-list">
					<div class="dz-media">
						<img src="{{url_for('static', filename='/product3.jpg')}}" alt="">
					</div>
					<div class="dz-content">
						<h6 class="title"><a href="https://ombe.dexignzone.com/bootstrap/xhtml/product-detail.html">Ice Chocolate Coffee</a></h6>
						<ul class="dz-meta">
							<li class="dz-price">$6.2<del>$9.5</del></li>
							<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
						</ul>
						<div class=" d-flex align-items-center">
							
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</main>
	<!-- Main Content End -->
	
	<!-- Footer Fixed Button -->
	
	<!-- Main Content End -->
	
	<!-- Menubar -->
	{% include '_footernav.html' %}
	<!-- Menubar -->

</div>  
<!--**********************************
    Scripts
***********************************-->

<div class="offcanvas offcanvas-bottom m-3 rounded" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-body small">
            <ul class="theme-color-settings">
                <li>
                    <input class="filled-in" id="primary_color_1" applogo="logo1.svg" name="theme_color" type="radio" value="color-primary">
					<label for="primary_color_1"></label>
                    <span>Default</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_2" applogo="logo2.svg" name="theme_color" type="radio" value="color-green">
					<label for="primary_color_2"></label>
                    <span>Green</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_3" applogo="logo3.svg" name="theme_color" type="radio" value="color-blue">
					<label for="primary_color_3"></label>
                    <span>Blue</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_4" applogo="logo4.svg" name="theme_color" type="radio" value="color-pink">
					<label for="primary_color_4"></label>
                    <span>Pink</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_5" applogo="logo5.svg" name="theme_color" type="radio" value="color-yellow">
					<label for="primary_color_5"></label>
                    <span>Yellow</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_6" applogo="logo6.svg" name="theme_color" type="radio" value="color-orange">
					<label for="primary_color_6"></label>
                    <span>Orange</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_7" applogo="logo7.svg" name="theme_color" type="radio" value="color-purple">
					<label for="primary_color_7"></label>
                    <span>Purple</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_8" applogo="logo8.svg" name="theme_color" type="radio" value="color-red">
					<label for="primary_color_8"></label>
                    <span>Red</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_9" applogo="logo9.svg" name="theme_color" type="radio" value="color-lightblue">
					<label for="primary_color_9"></label>
                    <span>Lightblue</span>
                </li>
				<li>
                    <input class="filled-in" id="primary_color_10" applogo="logo10.svg" name="theme_color" type="radio" value="color-teal">
					<label for="primary_color_10"></label>
                    <span>Teal</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_11" applogo="logo11.svg" name="theme_color" type="radio" value="color-lime">
					<label for="primary_color_11"></label>
                    <span>Lime</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_12" applogo="logo12.svg" name="theme_color" type="radio" value="color-deeporange">
					<label for="primary_color_12"></label>
                    <span>Deeporange</span>
                </li>
            </ul>
        </div>
    </div>
</body>

{% endblock %}